<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials.html :: head('View Post')"></head>
<body>

<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header(${post.title})"></header>
<main class="container">
    <p>Post ID: <span th:text="${post.id}" >></span></p>
    <p>Username: <span th:text="${post.user.username}"></span></p>
    <p th:text="${post.body}"></p>
    <br>
    <div class="show-buttons">
        <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="GET" th:object="${post}" th:if="${#authentication.getName() == post.user.getUsername()}">
            <button>Edit</button>
        </form>
        <br>
        <form th:action="@{/posts}" th:method="GET" th:object="${post}">
            <button>Back to Posts</button>
        </form>
        <br>
        <form th:action="@{/posts/{id}/delete(id=${post.id})}" th:method="POST" th:object="${post}" th:if="${#authentication.getName() == post.user.getUsername()}">
            <button id="delete-post-btn">Delete</button>
        </form>
    </div>

    <th:block th:replace="partials/partials.html :: scripts"></th:block>
</main>
</body>
</html>