<!--<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="#">Pizza World</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="#">Order Online</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Menu</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <form class="d-flex me-2">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success text-nowrap" type="submit">Search stores near you!</button>-->
<!--            </form>-->
<!--            <img src="img/person-fill.svg" class="ms-auto" alt="avatar">-->
<!--            <button class="btn text-nowrap" type="submit">Sign Up!</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${'My Blog | ' + title}"></title>
</head>

<nav th:fragment="nav">
    <a href="/home">Home</a>
    <a href="/posts">Posts</a>
    <a href="/about-us">About Us</a>
</nav>

<footer th:fragment="footer">
    <p>This is footer</p>
</footer>